:root {
  --border-color: 187, 187, 187;
  --blue-color: 40, 117, 209;
  --container-width: 650px;
  --danger-color: 235, 8, 6;
}

body,
html {
  margin: 0;
  padding: 0;
}
body {
  background: #d7dde7;
}
div {
  box-sizing: border-box;
}

.d-flex {
  display: flex;
  flex-direction: row;
}
.d-flex-col {
  flex-direction: column;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.flex-4 {
  flex: 4;
}
.justify-center {
  justify-content: center;
}
.item-center {
  align-items: center;
}
.btn {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 3px;
  font-size: 13px;
  background-color: transparent;
}
.btn:focus {
  box-shadow: none;
  outline: none;
}
.btn.btn-default {
  border: 1px solid rgba(var(--blue-color), 0.8);
  color: rgba(var(--blue-color), 1);
}

.btn.btn-danger {
  font-size: 12px;
  border: 1px solid rgba(var(--danger-color), 0.8);
  color: rgba(var(--danger-color), 1);
}
.btn.btn-success {
  font-size: 12px;
  background: rgba(var(--blue-color), 1);
  border: 1px solid rgba(var(--blue-color), 0.8);
  color: white;
}
.widget-container {
  width: var(--container-width);
  margin: 30px auto;
  border: 1px solid rgba(var(--border-color), 1);
  background: white;
  box-shadow: 0px 0px 16px 9px rgba(0, 0, 0, 0.15);
}
.widget-header {
  justify-content: space-between;
  padding: 25px;
  border-bottom: 1px solid rgba(var(--border-color), 0.5);
}
.widget-header .widget-title .title {
  margin: 0;
  padding: 0;
  font-size: 1.8em;
  font-weight: normal;
}
.widget-header .widget-title {
}
.widget-lists {
  padding: 15px 25px 25px 25px;
  min-height: 100px;
  flex-direction: column;
}

.widget-list {
  padding: 10px 0;
  border-bottom: 1px solid rgba(var(--border-color), 0.5);
  align-items: center;
}
.widget-list .widget-list-action {
  text-align: right;
}
.widget-list-empty {
  padding: 15px 0;
}
.widget-list-empty .title {
  font-size: 2em;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.15);
  text-align: center;
}
.widget-list-empty .notes {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

input[type="text"],
select {
  background: #fff;
  border-radius: 0;
  border-style: solid;
  border-width: 0.1rem;
  box-shadow: none;
  display: block;
  font-size: 1rem;
  letter-spacing: -0.015em;
  margin: 0;
  max-width: 100%;
  width: 100%;
  padding: 13px 0 13px 13px;
}
input[type="text"] {
  width: 97%;
}
.form-group label {
  display: inline-block;
  font-size: 1em;
  padding: 15px 0;
}
.has-error {
  border-color: rgba(var(--danger-color), 1);
}
.error-message {
  color: rgba(var(--danger-color), 0.8);
  font-size: 12px;
}
